@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: roboto;
    max-width: 1440px;
}
.container{
    margin: 91px 124px 157px;
}
h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 45px;
}
.col-6{
    display: flex;
}
.text{
    width: 670px;
}
.first{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.image{
    width: 314px;
}
.image :first-child{
    margin-left: 183px;
    position: relative;
}
.image :last-child{
    margin-left: 157px;
    margin-top: -30px;
}
footer{
    display: flex;
}
.picture :first-child{
    margin-top: 70px;
    position: relative;
}
.picture :last-child{
    margin-left: -197px;
    margin-bottom: -12px;
    margin-right: 132px;
}
.text2{
    margin-top: 140px;
    margin-right: 95px;
    width: 150px;
}
h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.cool{
    font-size: 18px;
    font-weight: 400;
}